@import"v2-svg.css";
html {
	height:100%;
}
body {
	height:100%;
	font-family:Verdana, Tahoma, Arial, 'Microsoft Yahei', 'Simsun', sans-serif;
	background-color:#f2efea;
}
a,
a:hover {
	text-decoration:none;
}
.text-overflow,
.text-overflow div {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.width_60 {
	width:60%;
}
.width_50 {
	width:50%;
}
/* button */
button {
	color:#fff;
	background-color: #f76456;
	border-color: #f76456;
	padding-left:2.5em;
	padding-right:2.5em;
	font-weight:bold;
	letter-spacing:0.18em;
	margin-right:1em;
}
.button_big,
.button_large {
	padding-top:1em;
	padding-bottom:2em;
	text-align:center;
}
.button_big button,
.button_large button {
	padding-left:4em;
	padding-right:4em;
	margin-top:0.5em;
	margin-bottom:0.5em;
	float:none;
}
.button_large button {
	width:70%;
	padding-top:13px;
	padding-bottom:13px;
	font-size:1.1em;
}
/* border */
.border-bottom {
	border-bottom:solid 1px #CCCCCC;
}
.border-right {
	border-right:solid 1px #CCCCCC;
}
.border-right-white {
	border-right:solid 1px #FFFFFF;
}

/* navbar-top */
#navbar-top,
#navbar-top-none {
	min-height:20px;
	height:8%;
	max-height:40px;
}
#navbar-top {
	background:#3c763d;
	font-size:1.5em;
	color:#FFFFFF;
}
#navbar-top div {
	height:100%;
}
#navbar-top div.row {
	margin-top:4px;
}
#navbar-top img {
	height:80%;
}
#navbar-top-tel img {
	margin-top:5px;
	height:50%;
}
/* navbar-bottom */
#navbar-bottom,
#navbar-bottom-none {
	min-height:20px;
	height:12%;
	max-height:50px;
}
#navbar-bottom {
	background:#FFFFFF;
	border-top:solid 1px #d2d2d2;
}
#navbar-bottom div {
	height:100%;
}
/* container */
#container {
	background-color:#f2efea;
}

/* index_guanggao */
#index_guanggao {
	min-height:100px;
	height:35%;
	max-height:200px;
	overflow:hidden;
}
#index_guanggao div.row {
	height:100%;
}
#index_guanggao img {
}
/* index_buttons */
#index_buttons {
	max-width:640px;
	height:65%;
}
#index_buttons div.row {
	height:100%;
}
#index_buttons div.col-xs-6 {
	height:100%;
}
#index_buttons1,
#index_buttons3 {
	padding-right:8px;
}
#index_buttons2 {
	padding-left:8px;
}
/* index_buttons - ico */
#daisonghuo {
	background-color:#f0738a;
}
#peisongzhong {
	background-color:#a6ad28;
}
#yiwancheng {
	background-color:#4a9e8d;
}
#daichuli {
	background-color:#e85d58;
}
#daisonghuo,
#peisongzhong,
#yiwancheng,
#daichuli {
	display:block;
	text-indent:-9999px;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:25%;
}
.index_button_text {
	text-indent:0;
	display:block;
	text-align:center;
	color:#FFFFFF;
}
/*navbar-buttons*/
#navbar_renwu,
#navbar_dingdan,
#navbar_wode {
	display:block;
	text-indent:-9999px;
	background-repeat:no-repeat;
	background-position:center center;
	height:100%;
}

/* container_navbar */
#container_navbar {
	height:40px;
	border-bottom:solid 1px #cccccc;
	background-color:#FFFFFF;
}
#container_navbar .active {
}
#container_navbar a {
	line-height:40px;
	font-size:1.2em;
	color:#000000;
	display:block;
}
#container_navbar .active a {
	color:#de3131;
}
#container_navbar .active a span {
	padding-bottom:5px;
	border-bottom:solid 4px #de3131;
}

/* container_list */
#container_list {
	background-color:#f2efea;
}
.dingdan_list {
	background-color:#FFFFFF;
	margin-top:10px;
	margin-bottom:8px;
	border-top:solid 1px #cccccc;
	border-bottom:solid 1px #cccccc;
	padding-top:8px;
	padding-bottom:10px;
}
.list_songhuoshijian {
	padding-top:4px;
	padding-bottom:8px;
	border-bottom:solid 1px #ccc;
}
.list_dianpu,
.list_ren {
	text-indent:30px;
	background-repeat:no-repeat;
	background-size:25px;
	background-position:left center;
	padding-top:8px;
	padding-bottom:8px;
	border-bottom:solid 1px #ccc;
}
.list_dianpu img {
	height:20px;
	float:right;
}
.list_xinxi {
	padding-top:8px;
	padding-bottom:8px;
	padding-left:0;
}
.list_xinxi2 {
	padding-left:15px;
}
.list_xinxi .list_logo {
	padding-left:10px;
}
.list_xinxi .list_logo img {
	border:solid 1px #d3d3d3;
	max-height:84px;
}
.list_xinxi .list_text {
	padding-bottom:8px;
	border-bottom:solid 1px #ccc;
	padding-left:0;
	padding-right:3em;
}
.list_xinxi .list_text div {
	padding-top:6px;
}
.list_xinxi .list_text strong {
	font-size:1.15em;
	padding-right:12px;
}
.list_xinxi .list_text a {
	color:#4a9e8d;
	text-decoration:underline;
}
.list_xinxi .jiantou-right {
	background-size:16px;
	background-position:right center;
	background-repeat:no-repeat;
	height:84px;
	display:block;
}
.list_xinxi2 .jiantou-right {
	height:auto;
}
.list_anniu {
	padding-top:2px;
}
.list_anniu button {
	float:right;
}
.list_anniu button.btn_wenti {
	background-color: #e6a271;
	border-color: #e6a271;
}
.list_ren span,
.list_songhuoshijian span.red,
#dingdan_kehu .ico-ren span {
	float:right;
	margin-left:1em;
}
.list_ren span.red,
.list_songhuoshijian span.red,
#dingdan_kehu .ico-ren span.red {
	color:#FF0000;
	text-indent:0;
}
.ico-time,
.ico-song,
.ico-cang,
.ico-anzhuang {
	background-repeat:no-repeat;
	background-size:25px;
	background-position:left 5px;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:30px;
}
.ico-anzhuang img {
	height:18px;
	margin-left:4px;
}
/* dingdan_kehu */
.dingdan_biankuang {
	background-color:#FFFFFF;
	border-top:solid 1px #CCCCCC;
	border-bottom:solid 1px #CCCCCC;
	margin-top:1em;
	line-height:2em;
}
#dingdan_kehu {
	background-image:url(../images/dingdan_top_line.png);
	background-repeat:repeat-x;
	padding-top:10px;
}
.dingdan_title {
	font-size:1.1em;
	line-height:2.4em;
}
.dingdan_title_line {
	border-bottom:solid 1px #CCCCCC;
}
/* dingdan_shangpin */
#dingdan_shangpin {
}
#dingdan_shangpin .table {
	margin-bottom:5px;
}
#dingdan_shangpin .table>thead>tr>th,
#dingdan_shangpin .table>tbody>tr>td,
#fuwu_yunshu .table>thead>tr>th,
#fuwu_yunshu .table>tbody>tr>td,
#fuwu_shanglou .table>thead>tr>th,
#fuwu_shanglou .table>tbody>tr>td,
#fuwu_anzhuang .table>thead>tr>th,
#fuwu_anzhuang .table>tbody>tr>td {
	padding-left:14px;
	padding-right:14px;
}
.yignshou {
	color:#f76456;
}
/* dingdan_dianpu */
#dingdan_dianpu .ico-shop img {
	height:20px;
	float:right;
	margin-top:8px;
	margin-right:5px;
}
/* dingdan_fuwu */
#dingdan_fuwu .jiantou-right {
	background-size:12px;
	background-position:right center;
	background-repeat:no-repeat;
	line-height:250%;
}
/* dingdan_wenti_list */
#dingdan_wenti_list .ico-bottom-right {
	background-position:bottom right;
	background-size:1.2em;
	background-repeat:no-repeat;
}

/* ico */
#dingdan_kehu .ico-ren,
#dingdan_shangpin .ico-dingdan,
#dingdan_dianpu .ico-shop,
#dingdan_fuwu .ico-fuwu,
#fuwu_shanglou .ico-fuwu,
#liucheng_danhao .ico-ren,
#liucheng_danhao .ico-dingdan,
#fuwu_yunshu .ico-yunshu,
#fuwu_anzhuang .ico-anzhuang  {
	background-size:22px;
	background-repeat:no-repeat;
	background-position:left center;
	text-indent:30px;
	padding-left:0;
}
#fuwu_shanglou .ico-louti,
#fuwu_shanglou .ico-dianti {
	background-size:22px;
	background-repeat:no-repeat;
	background-position:3.1em 8px;
}
/* wode_touxiang */
#wode_touxiang {
	background-color:#e85d58;
	padding-top:25px;
	padding-bottom:25px;
	color:#FFFFFF;
	font-size:1.3em;
	line-height:2em;
}
#wode_touxiang .jiantou-right-w {
	background-size:16px;
	background-position:right center;
	background-repeat:no-repeat;
}
.wode_avatar img {
	width:72px;
}
/* wode_caidan */
#wode_caidan {
	background-color:#FFFFFF;
}
#wode_caidan .row {
	font-size:1.2em;
	line-height:4em;
	letter-spacing:0.15em;
}
#wode_caidan .row a {
	color:#000000;
	background-size:1.5em;
	background-position:left center;
	background-repeat:no-repeat;
	padding-left:2.9em;
	padding-top:0.5em;
	padding-bottom:0.5em;
}
#wode_caidan .jiantou-right {
	background-size:12px;
	background-position:right center;
	background-repeat:no-repeat;
}
#wode_caidan .row .col-xs-8 {
	border-bottom:solid 1px #c8c7cc;
}
/* wode_jifen */
#wode_jifen {
	color:#FFFFFF;
	text-align:center;
	background-color:#FFFFFF;
	padding-top:9px;
}
#wode_jifen a {
	color:#888;
}
.circle-jifen {
	border-radius:50%;
	background-color:#ff8903;
	width:130px;
	height:130px;
	margin:12px auto 12px auto;
}
.circle-jifen div {
	padding-top:37px;
}
.circle-jifen div strong {
	font-size:1.5em;
}
#wode_jifen .ico-wenhao,
#wode_jifen .ico-gouwuche,
#wode_jifen .ico-liebiao {
	background-repeat:no-repeat;
	background-position:left center;
	padding:5px 0 5px 25px;
	text-indent:25px;
	background-size:20px;
	font-size:1.2em;
}
#jifen_xiangqing {
	background-color:#FFFFFF;
}
#jifen_xiangqing h3 {
	text-align:center;
	margin-top:0;
}
#jifen_xiangqing strong {
	font-size:1.1em;
}
#jifen_xiangqing .fenshu_red {
	color:#ff8903;
}
#jifen_xiangqing .fenshu_green {
	color:#009933;
}
#jifen_xiangqing .fenshu_green,
#jifen_xiangqing .fenshu_red {
	line-height:290%;
	float:right;
}
#jifen_xiangqing .row {
	border-bottom: solid 1px #CCCCCC;
	padding-top:9px;
	padding-bottom:7px;
}
#jifen_xiangqing .col-xs-9 div {
	color:#666;
}
#jifen_guize .row {
	border-bottom: solid 1px #CCCCCC;
	padding-top:9px;
	padding-bottom:7px;
	line-height:1.8em;
	color:#666;
}
#jifen_guize strong,
#jifen_guize .jifen_guize_q {
	font-size:1.1em;
}
#jifen_guize .jifen_guize_q,
#jifen_guize .jifen_guize_a {
	color:#ff8903;
	font-weight:bold;
	text-align:right;
}


/* liucheng_danhao */
#liucheng_danhao {
	background-image:url(../images/dingdan_top_line.png);
	background-repeat:repeat-x;
	padding-top:10px;
	line-height:2.5em;
}
#liucheng_danhao .liucheng_title {
	font-size:1.1em;
	font-weight:bold;
	text-align:center;
}
#liucheng_danhao .ico-ren span {
	margin-left:1em;
}
#liucheng_danhao .jiantou-right {
	background-size:12px;
	background-position:right center;
	background-repeat:no-repeat;
	line-height:250%;
}
#liucheng_danhao .text-overflow {
	padding-right:2em;
}
/* liucheng_liucheng */
#liucheng_liucheng {
	color:#898989;
	font-size:1.1em;
}
#liucheng_liucheng.dingdan_biankuang {
	border-bottom:none;
	line-height:1.3em;
}
#liucheng_liucheng .row {
	border-bottom:solid 1px #CCCCCC;
}
#liucheng_liucheng .active {
	color:#4a9e8d;
	font-weight:bold;
}
#liucheng_liucheng .shijian {
	text-align:center;
	font-size:0.8em;
	padding-top:0.8em;
	padding-bottom:0.8em;
}
#liucheng_liucheng .shijian strong {
	font-size:1.4em;
}
#liucheng_liucheng .wenzi {
	line-height:35px;
	font-size:1em;
	border-left:solid 1px #CCCCCC;
	padding-top:14px;
	padding-bottom:13px;
}
/* jiesuan_zongshu */
#jiesuan_zongshu {
	background-color:#f0738a;
	color:#FFFFFF;
	line-height:1.8em;
	padding-top:1em;
	padding-bottom:1em;
	font-size:1.2em;
}
#jiesuan_zongshu .col-xs-offset-1 {
	border-right:solid 1px #fff;
}
/* jiesuan_list */
#jiesuan_list thead {
	background-color:#e6dbb5;
	line-height:2em;
}
#jiesuan_list th,
#jiesuan_list td {
	text-align:center;
}
#jiesuan_list .jiantou-right {
	background-position:center center;
	background-repeat:no-repeat;
	background-size:12px;
	width:4em;
}
/* fuwu_yunshu */
#fuwu_yunshu .table,
#fuwu_shanglou .table,
#fuwu_anzhuang .table {
	margin-bottom:0;
}
/* dropdown */
.dropdown .jiantou-down {
	background-repeat:no-repeat;
	background-position:right center;
	background-size:1em;
	padding-right:2em;
}
/* user_login */
#user_login {
	margin-top:3em;
}

/* jifen_jieshao */
#jifen_jieshao .row,
#jifen_lipin .row {
	border-top:solid 1px #CCCCCC;
	text-align:center;
	background-color:#FFFFFF;
	line-height:250%;
	color:#999999;
}
#jifen_jieshao .row {
	border-bottom:solid 1px #CCCCCC;
}
#jifen_jieshao .title {
	line-height:2em;
	font-size:1.2em;
}
#jifen_jieshao .title1 {
	color:#d61e00;
}
#jifen_jieshao .title2 {
	color:#f0738a;
	background-size:2em;
}
#jifen_jieshao .title3 {
	color:#4a9e8d;
}
#jifen_jieshao .title img {
	height:1.4em;
	margin-right:0.5em;
}
#jifen_jieshao .border-bottom {
	height:145px;
}
#jifen_jieshao .border-right {
	display:block;
	height:120px;
}
#jifen_jieshao .red {
	color:#de3131;
}
#jifen_jieshao .button_big {
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
	padding-bottom:0;
}
#jifen_jieshao .button_big button {
	margin-top:0;
	margin-bottom:0;
}
#jifen_lipin {
	margin-top:1em;
}
#jifen_lipin h4 {
	color:#de3131;
	font-weight:bold;
}

/* qipao */
.qipao_red {
	width:19px;
	height:19px;
	background:#FF0000;
	color:#FFFFFF;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display:block;
	text-align:center;
	line-height:18px;
	text-indent:0;
}
.qipao_index {
	float:right;
	margin-right:10px;
	margin-top:10px;
}
.qipao_list{
	float:right
}

/* loading */
#loading_main {
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
	z-index:999;
}
#loading_div {
	width:60px;
	height:60px;
	margin-left:auto;
	margin-right:auto;
	background: url(../images/loading_div.png) center center no-repeat;
}
#loading_gif {
	width:100%;
	height:100%;
	background: url(../images/loading_32x32.gif) center center no-repeat;
}

/* alert */
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.alert,
.alert h4 {
  color: #c09853;
}
.alert h4 {
  margin: 0;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success h4 {
  color: #468847;
}
.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info h4 {
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}


//积分明细表总分
 
.color{
    color:#888;
}
.color1{
    color:#ffe489;}
.Fleft{
    float:right;}
.overHidden{
    overflow:hidden;
}
.PR{
    position:relative;
}
.fontSize{
    font-size:30px;
    color:#ffe4c3;
}
.jFenColor{
    color:#f4931e;
}
.rFenColor{
    color:#abd2cd;}
.topStyle{
    height:50px;
    background:#f5f5f5;
    border-bottom:2px solid #ddd;
}
.topSpan{
    margin-top:15px;
    }
.jifen_goBack{
    height:50px;
    background:url(../images/back.jpg) no-repeat center;}
.topStyle span{
    font-size:16px;
    font-weight:900;
}
.circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;  
    background:#ff8903;
    height:150px;
    padding-top:50px;
    margin:15px auto;
}
.circle span{
    display:block;
}
.jifen_mingxi{
    background:url(../images/hengxian.jpg) repeat-x center center;}

.jifen_mingxi div{
    background: #fff;
    width:100px;
    text-align:center;
    margin:10px auto;}
.jifen_mingxi span{
    font-weight:600;
}
.jifen_shangchang{
    background: url(../images/shangchang.jpg) no-repeat 0 center;
    padding-left:30px;}
.duihuan{
    background: url(../images/duihuan.jpg) no-repeat 0 center;
    padding-left:30px;}
.jifen_guizhe{
    padding-top:15px;
    float:right;
}
.jifen_guizhe span{
    color:#888;
    font-weight:600;
    background:url(../images/jifen_guizhe.jpg) no-repeat 0  center;
    padding-left:30px;
}
#jifenList{
    font-size:14px;
    color:#888;
    font-weight:900;
}

#jifenList{
    height:65px;
    border-bottom:1px solid #e6e6e6;
    margin-bottom:15px;
    
    }

.jifen_mid{ 
    position:absolute; 
    top:50%; 
    left:50%; 
}

.jifen_h4{
    background:url(../images/list2-q.jpg) no-repeat 0 center;
    padding-left:15px;}
.jifen_span{
    background:url(../images/list2-a.jpg) no-repeat 10px center;
    padding-left:25px;}
.guizhe_bottom{
    overflow:hidden;
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
    
}